/*
DESFLECHADOS BY HOZT
FEBRERO 2016
*/
@font-face {
	font-family: 'JoyStix';
	src: url('../assets/fonts/JoystixMonospace.ttf');
}
body {
	background: #42c6ac;
}
a {
	color: #ef5f68;
	text-decoration: none;
}
a {
	color: #de4e57;
	text-decoration: none;
}
#logo {
	width: 100%;
	text-align: center;
	padding: 0px 50px;
	padding-top: 30px;
}
#logo img { 
	width: 100%;
	height: auto;
	max-width: 500px;
}
.container {

	max-width: 600px;
}
h1 {
	text-align: center;
	font-family: 'JoyStix';
	margin-bottom: 20px;
	color: #232323; 
}

footer {
	width: 100%;
	position: fixed; 
	bottom: 30px;
	text-align: center;
	left: 0px;
}
footer img {
	width: 80%;
	max-width: 150px;
}

.cloudlayer {
	z-index: -2;
	position: fixed;
	width: 100%;
	left: 0px;
	top: 0px;
	height: 100%;
}
.ovnilayer {
	z-index: -1;
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 100px;
	/* height: 100%; */
	overflow: hidden;
}
/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloudinvert {
    0% {
        margin-left: 150%;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes animateCloudinvert {
    0% {
        margin-left: 150%;
    }
    100% {
        margin-left: -1000px;
    }
}

@keyframes animateCloudinvert {
    0% {
        margin-left: 150%;
    }
    100% {
        margin-left: -1000px;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.50);
	-moz-transform: scale(0.50);
	transform: scale(0.50);
}

.x2 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 28s linear infinite;
	-moz-animation: animateCloud 28s linear infinite;
	animation: animateCloud 28s linear infinite;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}
.reverse1 {
	-webkit-animation: animateCloudinvert 25s linear infinite;
	-moz-animation: animateCloudinvert 25s linear infinite;
	animation: animateCloudinvert 25s linear infinite;
	
	-webkit-transform: scale(0.50);
	-moz-transform: scale(0.50);
	transform: scale(0.50);
}
/* OBJECTS */

.clouda {
	background: url(imx/nubea.png) no-repeat left top;
	width: 300px;
	height: 150px;
}
.cloudb {
	background: url(imx/nubeb.png) no-repeat left top;
	width: 300px;
	height: 150px;
}

.ovni {
	height: 250px;
	width: 420px;
	background: url(imx/ovni.png) no-repeat left top;
}

/*RESPONSIVE*/
@media screen and (min-width: 1200px) { /*LG*/

	.reverse1 {
	-webkit-animation: animateCloudinvert 20s linear infinite;
	-moz-animation: animateCloudinvert 20s linear infinite;
	animation: animateCloudinvert 20s linear infinite;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}
.ovnilayer {
	bottom: 25%;
}
	
}
@media screen and (max-width: 1199px) { /*MD*/

}
@media screen and (min-width: 992px) { /*ARRIBA DE MD*/

}
@media screen and (max-width: 991px) { /*SM*/ 

}
@media screen and (max-width: 768px) { /*XS*/

}
@media screen and (max-width: 480px) { /*XXS*/


} 